body {
  section {

    .section-1 {
      display: grid;
      grid-template-columns: 35% 65%;
      min-height: 400px;
      
      .img {
        background: url(../../img/img-left.jpg) center/cover;
        width: 100%;
      }
    }
    .section-2 {
      display: grid;
      grid-template-columns: 65% 35%;
      min-height: 400px;

    }
  }
}
